.mod-registrations_new
  %h1 Sign up

  %p Please enter the following information to create an account.

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.input :name, autofocus: true
    = f.input :email
    = f.input :password, autocomplete: 'off'
    = f.input :password_confirmation, autocomplete: 'off'
    = f.button :submit, 'Sign up'
    or
    = render "devise/shared/links"
