!!!
%html
  %head
    %title Robo Racer

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'es5-shim' if Rails.env.test?
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    .mod-header
      %h1 Robo Racer

      - if current_player
        %span.player-name= "current player: #{current_player.name}"
        = link_to destroy_player_session_path, method: :delete do
          log out
          %span.icon.fa.fa-sign-out

      - else
        = link_to new_player_session_path do
          log in
          %span.icon.fa.fa-sign-in

    = flash[:notice] if flash[:notice]

    = yield
