!!!
%html
  %head
    %title Robo Racer

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'es5-shim' if Rails.env.test?
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    .container
      .mod-header
        .layout-wrap
          %div
            %h1
              = link_to "Robo Racer", root_path

          %nav
            = link_to "Login", new_player_session_path
            = link_to "Register", new_player_registration_path
            %a Play now!

      .layout-wrap
        = flash[:notice] if flash[:notice]
        = yield

      .mod-footer
        .layout-wrap
          %p Built with love by Bob Forma. Powered by Zilverline.
