<!DOCTYPE html>
<html>
  <head>
    <title>RoboRacer</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <%= flash[:notice] if flash[:notice] %>
  </body>
</html>
